.paragraph{
  display: flex;
  justify-content: start;
  font-size: 60px;
  line-height: 1;
  padding: 40px 300px;
  // max-width: 1280px;
  color: white;
  flex-wrap: wrap;
  z-index: 999;
  .word{
    position: relative;
    margin-right: 12px;
    margin-top: 12px;
    .shadow{
      position: absolute;
      opacity: 20%;
    }
  }
  
}